In [1]:
import pandas as pd

In [3]:
s1=pd.Series()
print(s1)

Series([], dtype: float64)

C:\Users\azart\AppData\Local\Temp\ipykernel_1308\2100218911.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1=pd.Series()

In [5]:
import numpy as np
s2=np.array([10,20,30,40])
s3=pd.Series(s2)
print(s3)

0    10
1    20
2    30
3    40
dtype: int32

In [8]:
d1={'a':1001,'b':1002,'c':1003}
print(d1)
print(type(d1))
d2=pd.Series(d1)
print(d2)
print(type(d2))

{'a': 1001, 'b': 1002, 'c': 1003}
<class 'dict'>
a    1001
b    1002
c    1003
dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
s=pd.Series([10,20,30,40])
#print(s)
print(s[0:4])
print(s[-3:-1])

0    10
1    20
2    30
3    40
dtype: int64
1    20
2    30
dtype: int64

In [12]:
d1=[10,20,30,40]
s1=pd.DataFrame(d1)
print(s1)
print(type(s1))

    0
0  10
1  20
2  30
3  40
<class 'pandas.core.frame.DataFrame'>

In [22]:
d1={'r1':10,'r2':20,'r3':30}
#d2={'r1':100,'r2':200,'r3':300}
cl=[0,1,2]
d3=pd.DataFrame(d1,cl)

print(d3)

   r1  r2  r3
0  10  20  30
1  10  20  30
2  10  20  30

In [23]:
d1={'a1':100,'a2':200,'a3':300}
d2={'a1':150,'a2':300,'a3':400}
data={'c1':d1,'c2':d2}
f=pd.DataFrame(data)
print(f)

     c1   c2
a1  100  150
a2  200  300
a3  300  400

In [24]:
data=[{'j1':100,'j2':200,'j3':300,'j4':500}]
f1=pd.DataFrame(data,index=['f1','f2'])
print(f1)

     j1   j2   j3   j4
f1  100  200  300  500
f2  100  200  300  500

In [ ]:
#DataFrame for Adding and deleting the column

In [26]:
data={'one':pd.Series([1,2,3,5],index=['a','b','c','d']),
       'two':pd.Series([1,2,3,10],index=['a','b','c','d'])
     }
table=pd.DataFrame(data)
print(table)

   one  two
a    1    1
b    2    2
c    3    3
d    5   10

In [27]:
#Adding the new Column
data={'one':pd.Series([1,2,3,5],index=['a','b','c','d']),
       'two':pd.Series([1,2,3,10],index=['a','b','c','d'])
     }
table=pd.DataFrame(data)
table['three']=pd.Series([10,20,30,40],index=['a','b','c','d'])
print(table)

   one  two  three
a    1    1     10
b    2    2     20
c    3    3     30
d    5   10     40

In [ ]:
#DataFrame columns can be deleted using del() function

In [28]:
print(table)

   one  two  three
a    1    1     10
b    2    2     20
c    3    3     30
d    5   10     40

In [29]:
del table['one']

print(table)

   two  three
a    1     10
b    2     20
c    3     30
d   10     40

In [30]:
table.pop('three')

a    10
b    20
c    30
d    40
Name: three, dtype: int64

In [31]:
table

   two
a    1
b    2
c    3
d   10

In [ ]:
#Generate the random numbers in row and column

In [32]:
import pandas as pd
import numpy as np

In [41]:
df_test=pd.DataFrame(np.random.rand(5,4),['A','B','C','D','E'],
                    ['W','X','Y','Z'])
print(df_test)

          W         X         Y         Z
A  0.063162  0.663347  0.846524  0.190159
B  0.079216  0.473367  0.096130  0.442081
C  0.325253  0.786253  0.739236  0.122087
D  0.859194  0.989211  0.060167  0.707302
E  0.514401  0.159401  0.257315  0.095012

In [43]:
print(df_test[['W','X']])

          W         X
A  0.063162  0.663347
B  0.079216  0.473367
C  0.325253  0.786253
D  0.859194  0.989211
E  0.514401  0.159401

In [44]:
print(df_test.loc['A'])

W    0.063162
X    0.663347
Y    0.846524
Z    0.190159
Name: A, dtype: float64

In [46]:
print(df_test.loc[['A','B'],['W','X']])

          W         X
A  0.063162  0.663347
B  0.079216  0.473367

In [47]:
df_test['NEWCOL']=df_test['W']+df_test['X']
print(df_test)

          W         X         Y         Z    NEWCOL
A  0.063162  0.663347  0.846524  0.190159  0.726509
B  0.079216  0.473367  0.096130  0.442081  0.552583
C  0.325253  0.786253  0.739236  0.122087  1.111507
D  0.859194  0.989211  0.060167  0.707302  1.848405
E  0.514401  0.159401  0.257315  0.095012  0.673802

In [51]:
print(df_test['NEWCOL']<1.1)

A     True
B     True
C    False
D    False
E     True
Name: NEWCOL, dtype: bool

In [52]:
test1=pd.read_csv('Datasets/BostonHousing.csv')
print(test1)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [54]:
test_df=pd.read_excel('Datasets/Online.xlsx',sheet_name="Sheet1")
print(test_df)

    A   B   C
0  10  20  30
1  40  50  60

In [55]:
df_test.to_excel('mec.xlsx',sheet_name='mec')

          W         X         Y         Z    NEWCOL
A  0.063162  0.663347  0.846524  0.190159  0.726509
B  0.079216  0.473367  0.096130  0.442081  0.552583
C  0.325253  0.786253  0.739236  0.122087  1.111507
D  0.859194  0.989211  0.060167  0.707302  1.848405
E  0.514401  0.159401  0.257315  0.095012  0.673802